[submodule "3rd_party/stb"]
	path = 3rd_party/stb
	url = https://github.com/nothings/stb.git
[submodule "3rd_party/glfw"]
	path = 3rd_party/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rd_party/glad"]
	path = 3rd_party/glad
	url = https://github.com/Dav1dde/glad
[submodule "3rd_party/glm"]
	path = 3rd_party/glm
	url = https://github.com/g-truc/glm.git
